
@{
   
}
<form method="post">
    <label>Cheese
    <input name="name" type="text"/>
    </label>
    <label>Description
    <input name="description" type="text" />
        </label>
    <input type="submit" value="Add Cheese"/>

</form>
